/* fira-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v10-latin_cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
    url('../fonts/fira-sans-v10-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/fira-sans-v10-latin_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/fira-sans-v10-latin_cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/fira-sans-v10-latin_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/fira-sans-v10-latin_cyrillic-regular.svg#FiraSans')
      format('svg');
  /* Legacy iOS */
}

/* fira-sans-500 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-v10-latin_cyrillic-500.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Medium'), local('FiraSans-Medium'),
    url('../fonts/fira-sans-v10-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/fira-sans-v10-latin_cyrillic-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/fira-sans-v10-latin_cyrillic-500.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/fira-sans-v10-latin_cyrillic-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/fira-sans-v10-latin_cyrillic-500.svg#FiraSans')
      format('svg');
  /* Legacy iOS */
}

/* fira-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-v10-latin_cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
    url('../fonts/fira-sans-v10-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/fira-sans-v10-latin_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/fira-sans-v10-latin_cyrillic-700.woff') format('woff'),
    /* Modern Browsers */ url('../fonts/fira-sans-v10-latin_cyrillic-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/fira-sans-v10-latin_cyrillic-700.svg#FiraSans')
      format('svg');
  /* Legacy iOS */
}

/* reset default style */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

/* reset default style end*/

body {
  font-family: 'Fira Sans';
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  color: #404040;
}

.container {
  max-width: 1135px;
  padding: 0 10px;
  margin: 0 auto;
}

/*-------------------- header styles ------------------------*/

.header-top {
  background: #ebedee;
}

.header-top__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0 14px 0;
}

.header-top__nav--items {
  display: flex;
  flex-wrap: wrap;
}

.header-top__nav--item {
  margin-right: 52px;
}

.header-top__nav--item:last-child {
  margin-right: 0;
}

.header-top__tel {
  margin-right: 37px;
}

.header-top__tel:last-child {
  margin-right: 0;
}

.header-top__nav--link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #404040;
}

.header-top__nav--link-about {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-top__tel {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #404040;
}

.header-center__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 0 16px 0;
}

.header-center__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #404040;
  margin-bottom: 13px;
}

.header-center__basket-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 134px;
  height: 78px;
  background: #ebedee;
  border-radius: 3px;
}

.header-center__basket-quan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 43px;
  height: 25px;
  background: #bed1e1;
  border-radius: 3px;
}

.header-center__basket-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #404040;
}

.header-center__input {
  width: 520px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #e1cebe;
  border-radius: 3px;
  padding: 0 0 0 20px;
  color: #e1cebe;
  position: relative;
}

.header-center__search-ico {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  left: -40px;
}

.header-center__search-ico:after {
  content: '';
  display: block;
  background: url('../img/svg/search-ico.svg') no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.header-center__input::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #e1cebe;
}

.header-center__input::-moz-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #e1cebe;
}

.header-center__input:-moz-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #e1cebe;
}

.header-center__input:-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #e1cebe;
}

.header-bottom {
  background: #e1cebe;
}

.header__body {
  position: relative;
}
.header-bottom__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-bottom__wrapper {
  position: relative;
  z-index: 10;
  padding: 9px 0 10px 0;
}

.header-bottom__item-hidden {
  display: none !important;
}

.header-bottom__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 41px;
  width: 164px;
  transition: 0.1s linear;
}

.header-bottom__item:hover {
  background: #ffffff;
  border-radius: 3px;
}

.header-bottom__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #404040;
  white-space: nowrap;
}

.header__pic-hidden {
  display: none;
  width: 30px;
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 11;
}

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: 0.3s linear;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: 0.3s linear;
}

/*-------------------- Sidebar styles ------------------------*/

.sidebar__nav {
  background: #bed1e1;
  border-radius: 3px;
  margin-bottom: 28px;
  width: 100%;
}

.sidebar {
  width: 260px;
  margin-right: 10px;
}

.sidebar__nav-list {
  padding: 26px 0 26px 28px;
}

.sidebar__nav-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #404040;
  margin-bottom: 17px;
}

.sidebar__nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #404040;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.sidebar__nav-link-sale {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #404040;
}

.sidebar__nav-link-sale:hover {
  color: #ffffff;
}

.sidebar__nav-item {
  margin-bottom: 23px;
  position: relative;
}

.sidebar__nav-link:after {
  content: '';
  display: block;
  background: url('../img/svg/arrow-black-ico.svg') center no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar__nav-link:hover {
  color: #ffffff;
}

.sidebar__nav-link:hover:after {
  background: url('../img/svg/arrow-white-ico.svg') center no-repeat;
}

.sidebar__subnav {
  display: none;
  position: absolute;
  top: 0;
  transform: translateX(232px);
  padding: 25px;
  background: #ffffff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  width: 270px;
  white-space: nowrap;
  transition: 0.3s linear;
  z-index: 2;
}

.sidebar__nav-items > li:hover .sidebar__subnav {
  display: block;
}

.sidebar__subnav-item {
  margin-bottom: 10px;
}

.sidebar__subnav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #404040;
}

.sidebar__subnav-link:hover {
  color: #566e98;
}

.sidebar__news {
  background: #ebedee;
  border-radius: 3px;
  width: 100%;
}

.siderbar__news-wrapper {
  padding: 22px 0 36px 28px;
}

.sidebar__news-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #404040;
  margin-bottom: 18px;
}

.sidebar__news-wrap {
  margin-bottom: 18px;
}

.sidebar__news-wrap:last-child {
  margin-bottom: 0px;
}

.sidebar__news-date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 27px;
  background: #bed1e1;
  border-radius: 3px;
  margin-bottom: 9px;
}

.sidebar__news-date span {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #404040;
}

.sidebar__news-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #404040;
}

/*-------------------- Content styles ------------------------*/
.content {
  margin-top: 28px;
  padding-bottom: 47px;
}

.content__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*-------------------- Main wrapper styles ------------------------*/

.main-container {
  max-width: 830px;
  margin: 0 auto;
}

.main__wrapper {
  width: 100%;
}

.main__slider {
  position: relative;
}

.main__slider-pic {
  width: 100%;
}

.main__slider-wrapper {
  position: relative;
}
.main__slider-title-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 665px;
  height: 114px;
  background: #404040;
  opacity: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__slider-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.main__slider .slick-list {
  overflow: hidden;
}
.main__slider .slick-track {
  display: flex;
  flex-wrap: wrap;
}
.main__slider .slick-arrow {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 70px;
  height: 100%;
  background: rgba(225, 206, 190, 0.6);
  font-size: 0;
  border: none;
  transition: 0.3s linear;
  opacity: 0;
}
.main__slider .slick-arrow:hover {
  opacity: 1;
}
.main__slider .slick-prev {
  left: 0;
}

.main__slider .slick-prev:after {
  display: block;
  content: '';
  background: url('../img/svg/arrow-left-ico.svg') left no-repeat;
  width: 21px;
  height: 35px;
  position: relative;
  left: 10px;
}
.main__slider .slick-next {
  right: 0;
}
.main__slider .slick-next:after {
  display: block;
  content: '';
  background: url('../img/svg/arrow-right-ico.svg') right no-repeat;
  width: 21px;
  height: 35px;
  position: relative;
  left: 20px;
}
.main__slider .slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
}

.main__slider .slick-dots li button {
  display: none;
}
.main__slider .slick-dots li {
  width: 34px;
  height: 10px;
  margin-right: 20px;
  font-size: 0;
  background: #566e98;
  border-radius: 6px;
  cursor: pointer;
}
.main__slider .slick-dots li:last-child {
  margin-right: 0;
}

.main__slider .slick-dots li.slick-active {
  background: #ffffff;
}

/*-------------------- Product styles ------------------------*/
.product {
  margin-top: 31px;
}

.product__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #404040;
  margin-bottom: 21px;
}

.product__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__card {
  display: flex;
  flex-direction: column;
  background: #ebedee;
  border-radius: 3px;
  max-width: 260px;
  margin-bottom: 10px;
}

.product__card:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.product__image {
  margin-bottom: 19px;
}

.product__card-title-wrap {
  margin: 0 12px 20px 12px;
  padding-bottom: 45px;
  border-bottom: 1px solid #fff;
}

.product__card-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #404040;
  position: relative;
  max-width: 218px;
}

.product__price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px 18px 12px;
  padding-bottom: 45px;
  border-bottom: 1px solid #fff;
}

.product__price-wrapper span {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #404040;
}

.product-actions {
  display: flex;
  justify-content: space-around;
  padding-bottom: 29px;
  margin: auto 0 0 0;
}

.quantity {
  position: relative;
  width: 95px;
  height: 40px;
}

.quantity__button {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  cursor: pointer;
}

.quantity__button-minus {
  background: url('../img/svg/minus-ico.svg') no-repeat;
  left: 10px;
  top: 50%;
}

.quantity__button-plus {
  background: url('../img/svg/plus-ico.svg') no-repeat;
  right: 10px;
  bottom: 50%;
  transform: translateY(50%);
}

.quantity__input {
  width: 95px;
  height: 40px;
}

.quantity input {
  display: flex;
  border: none;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 21px;
  color: #404040;
}

.product-action__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 119px;
  height: 40px;
  background: #bed1e1;
  border-radius: 3px;
}

.product-action__link:hover {
  background: #e1cebe;
}

.product-action__link span {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #404040;
}

/*-------------------- Stock styles ------------------------*/

.stock {
  margin-top: 22px;
}

.stock__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.stock__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #404040;
}

.stock__title-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #566e98;
}

.stock__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stock__card {
  max-width: 260px;
}

.stock__card-image {
  position: relative;
  margin-bottom: 23px;
}

.stock__card-date {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bed1e1;
  border-radius: 3px;
  width: 64px;
  height: 27px;
  position: absolute;
  transform: translateY(-50%);
  left: 10px;
}

.stock__card-date span {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #404040;
}

.stock__card-title a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #566e98;
}

.stock__card-title a:hover {
  color: #e1cebe;
}

/*-------------------- About styles ------------------------*/

.about {
  margin-top: 54px;
}

.about__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #404040;
  margin-bottom: 30px;
}

.about__desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #404040;
  margin-bottom: 22px;
}

.about__desc:last-child {
  margin-bottom: 0;
}

/*-------------------- Footer styles ------------------------*/

.footer {
  background: #bed1e1;
  padding: 17px 0 20px 0;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 18.5px;
}

.footer-up__adress {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #404040;
  position: relative;
  padding: 0 0 0 40px;
}

.footer-up__adress::before {
  content: '';
  display: block;
  background: url('../img/svg/geo-ico.svg') no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-up__email {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #404040;
  position: relative;
  padding: 0 0 0 40px;
}

.footer-up__email::before {
  content: '';
  display: block;
  background: url('../img/svg/mail-ico.svg') no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-up__phone {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 0 0 40px;
}

.footer-up__phone::before {
  content: '';
  display: block;
  background: url('../img/svg/phone-ico.svg') no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-top__tel {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #404040;
  margin-bottom: 4px;
}

.footer-top__tel:last-child {
  margin-bottom: 0px;
}

.footer-down__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-down__info-wrapper {
  display: flex;
  margin-bottom: 5px;
}

.footer-down__year {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #404040;
  margin-right: 15px;
}

.footer-down__privacy {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #404040;
}

.footer-down__info-email-wrap {
  max-width: 566px;
}

.footer-down__info-email {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #404040;
}

.footer-down__developers {
  display: flex;
}

.footer-down__developers-links {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.footer-down__developers-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 5px;
}

.footer-down__developers-link:last-child {
  margin-bottom: 0;
}

/*---------------- Sticky bar -----------------*/

.sticky {
  position: fixed;
  top: 0px;
  z-index: 101;
}

/*------------ Media styles ------------*/

@media screen and (max-width: 1120px) {
  .main-container {
    max-width: calc((100vw - 260px) - 30px);
  }

  .product__card {
    max-width: 230px;
  }

  .product__pic {
    max-width: 230px;
  }

  .stock__card {
    max-width: 230px;
  }

  .stock__card-pic {
    max-width: 230px;
  }

  .header-bottom__item {
    width: 130px;
  }
}

@media screen and (max-width: 991px) {
  .sidebar {
    display: none;
  }

  .header-bottom__item-hidden {
    display: flex !important;
    position: relative;
  }

  .sidebar__news {
    display: none;
  }

  .main {
    max-width: 100%;
  }

  .main-container {
    max-width: none;
  }

  .header-bottom__link {
    font-size: 13px;
  }

  .sidebar__nav-items {
    background: #bed1e1;
    border-radius: 3px;
    z-index: 5;
    padding: 10px 0 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    display: none;
  }

  .header-bottom__items > li:hover .sidebar__nav-items {
    display: block;
  }

  .sidebar__subnav {
    transform: translateX(190px);
  }

  .main {
    margin: 0 auto;
  }
  .main__slider-title-wrap {
    width: 565px;
  }
  .main__slider-title {
    font-size: 18px;
  }
  .product__title {
    text-align: center;
    font-size: 18px;
  }
  .stock__title {
    font-size: 18px;
  }
  .about__title {
    font-size: 18px;
  }
  .about__desc {
    font-size: 12px;
  }
  .product__card-title {
    font-size: 12px;
  }
  .product__price-wrapper span {
    font-size: 12px;
  }
  .stock__card-title a {
    font-size: 14px;
  }
  .footer-up__adress {
    font-size: 12px;
  }
  .footer-up__email {
    font-size: 12px;
  }
  .footer-top__tel {
    font-size: 12px;
  }
  .footer-top__tel {
    font-size: 10px;
  }
  .footer-down__privacy {
    font-size: 10px;
  }
  .footer-down__info-email {
    font-size: 10px;
    max-width: 350px;
  }
  .header-bottom__item {
    width: auto;
    height: auto;
  }
  .header-bottom__link {
    padding: 0 5px;
  }

  .product__card:last-child {
    margin-right: 0;
  }
  .product__cards {
    justify-content: space-around;
  }
  .stock__cards {
    justify-content: space-around;
  }
  .stock__title-wrapper {
    justify-content: space-around;
  }
  .about__title {
    text-align: center;
  }
  .header-logo__pic {
    width: 70px;
  }
  .header-center__title {
    font-size: 14px;
    margin-bottom: 0;
  }
  .header-center__wrapper {
    justify-content: space-around;
  }
  .header-center__input {
    max-width: 400px;
  }
  .header-center__basket-wrapper {
    width: 100px;
    height: 50px;
  }
  .header-center__basket-pic {
    width: 30px;
  }
  .header-top__tel {
    font-size: 12px;
  }
  .sidebar__nav-title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .sidebar__nav-link {
    font-size: 10px;
  }
  .sidebar__nav-item {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 730px) {
  .product__cards {
    justify-content: space-between;
  }
  .product__card {
    flex: 0 0 49%;
    max-width: none;
  }
  .product__pic {
    max-width: none;
    width: 100%;
  }
  .stock__cards {
    justify-content: space-between;
  }
  .stock__card {
    flex: 0 0 45%;
    max-width: none;
  }
  .stock__card-pic {
    max-width: none;
    width: 100%;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
  }
  .footer-up {
    flex-direction: column;
    align-items: flex-start;
    border-bottom: none;
  }
  .footer-up__adress {
    margin-bottom: 10px;
  }
  .footer-up__email {
    margin-bottom: 10px;
  }
  .footer-up img {
    margin-bottom: 20px;
  }
  .footer-down__wrapper {
    flex-direction: column-reverse;
  }
  .footer-down {
    display: flex;
    align-items: center;
  }
  .footer-down__developers {
    margin-bottom: 50px;
  }
  .footer-down__info-email {
    max-width: 250px;
  }
  .header-center__logo {
    margin-right: 10px;
  }
}

@media screen and (max-width: 629px) {
  .header-center__title {
    display: none;
  }

  .product-actions {
    flex-direction: column;
    align-items: center;
  }

  .product-action__link {
    width: 95px;
  }

  .product-actions__quantity {
    margin-bottom: 10px;
  }

  .main__slider-title-wrap {
    width: 300px;
  }
  .main__slider .slick-arrow {
    width: 30px;
  }
  .main__slider .slick-next:after {
    background-size: cover;
    width: 11px;
    height: 25px;
    left: 0;
  }
  .main__slider .slick-prev:after {
    background-size: cover;
    width: 11px;
    height: 25px;
    left: 0;
  }
  .main__slider .slick-dots li {
    width: 24px;
    height: 5px;
  }
  .header-wrapper {
    display: flex;
  }
  .header-center__logo {
    display: none;
  }
  .header-center__basket-wrapper {
    position: relative;
  }
  .header-center__basket-pic {
    width: 20px;
  }
  .header-center__basket-quan {
    background: #e1cebe;
    position: absolute;
    bottom: 10px;
    right: 25px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .header-center__basket-item {
    font-size: 10px;
  }
  .header-center__search-ico:after {
    display: none;
  }
  .header-center__input {
    width: 100%;
  }
  .header-top {
    flex: 0 0 50%;
  }
  .header-center {
    background: #ebedee;
    flex: 0 0 50%;
  }
  .header-center__basket-wrapper {
    width: 40px;
    height: 25px;
  }
  .header-center__wrapper {
    flex-wrap: nowrap;
  }
  .header-center__search {
    margin-right: 10px;
  }
  .header-center__form {
    height: 40px;
  }
  .header-top__phone {
    display: none;
  }
  .header-top__nav--link {
    font-size: 10px;
  }
  .header-top__nav--item {
    margin-right: 20px;
  }
  .header-top__wrapper {
    justify-content: center;
  }
  .sidebar__subnav-link {
    font-size: 10px;
  }
  .sidebar__subnav {
    padding: 15px;
    width: 200px;
  }
  .header__pic-hidden {
    display: block;
    position: relative;
    z-index: 3;
  }
  .header__burger {
    display: block;
  }
  .header-bottom__items {
    position: fixed;
    width: 40%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: #ebedee;
    transform: translateX(100%);
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 20px;
    transition: 0.3s linear;
  }
  .header__body {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__burger {
    position: absolute;
    right: 0;
  }
  .sidebar__nav-items {
    position: fixed;
    transform: translateX(-100%);
  }
  .sidebar__subnav {
    width: 150px;
  }
  .sidebar__subnav-link {
    white-space: normal;
  }
}
.header-bottom__items.active {
  transform: translateX(0);
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active span {
  transform: scale(0);
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
